.container {
    display: flex;
    text-decoration: none;
    padding: 20px 0px;
    margin: 0px 100px;
}

.list {
    text-decoration: none;
    color: #C4D2E3;
}

.list:hover {
    font-weight: bold;
    color: #9AA8BA;
}

.item {
    text-decoration: none;
    color: #c2c9d2;
}