.container {
    display: flex;
    margin: 0px 100px;
}

.container_item {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 50px 0px;
    flex-grow: 1;
    flex-basis: 0;
}

.header {
    font-size: 38px;
    color: #303958;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
}

.text {
    font-size: 14px;
    color: #303958;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_label {
    position: relative;
    display: flex;
}

.form_input {
    font-size: 14px;
    border: none;
    width: 100%;
    margin: 0px 0px 30px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #9AA8BA;
}

.form_input:focus {
    outline: none;
}

.container_textarea {
    position: relative;
    display: flex;
    margin: 0px 0px 25px;
    border-radius: 8px;
    border: 1px solid #9AA8BA;
}

.textarea_attach {
    box-sizing: content-box;
    padding: 4px;
}

.textarea_btn {
    border: none;
    background-color: transparent;
}

.attachment {
    display: none;
    /*position: absolute;*/
}

.textarea {
    font-size: 14px;
    padding: 10px 0px 20px 15px;
    margin: 0px 0px 0px 5px;
    width: 100%;
    border: none;
    flex: 1;
    resize: none;
}

.textarea:focus {
    outline: none;
}

.box_btn {
    background-color: #2D76F9;
    color: #FFFFFF;
    padding: 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 35px;
    flex-grow: 1;
    flex-basis: 0;

}

.box_btn:hover {
    background-color: #F94C10;
    cursor: pointer;
    transition-duration: 2s;
}

.box_text {
    font-size: 14px;
    color: #303958;
    margin: 10px;
    font-family: 'Rubik', sans-serif;
    flex-grow: 1;
    flex-basis: 0;
}

@media all and (max-width: 800px) {
    .container {
        flex-direction: column;
        margin: 10px;
    }

    .container_item {
        padding: 20px 20px 50px;
    }
}

@media all and (max-width: 500px) {
    .header {
        font-size: 20px;
    }

    .box {
        flex-direction: column;
    }

    .box_btn {
        flex: 1;
    }
}