.container_item {
    position: relative;
}
.image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.title {
    position: absolute;
    color: #B4B4B3;
    font-size: 20px;
    top: 220px;
    left: 30px;
    right: 10px;
    font-family: 'Rubik', sans-serif;
}
.description {
    position: absolute;
    color: #B4B4B3;
    font-size: 12px;
    top: 250px;
    left: 30px;
    right: 10px;
    font-family: 'Rubik', sans-serif;
}
