.filter {
    margin: 50px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4rem;
    border: none;
}

.filter_btn:hover {
    background: #303958;
    color: #fff;
}

.filter_btn {
    padding: 10px;
    font-size: 20px;
    color: #303958;
    border-radius: 7px;
    border: none;
    cursor: pointer;
}

@media all and (max-width: 500px) {
    .filter {
        grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
        margin: 20px;
    }

    .filter_btn {
        margin: 20px;
    }
}